.info-page {
    padding: 50px;
    text-align: center;
    background-color: #2a2a3d;
    height: 84vh;
    border: 1px solid #444;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
  
.info-title {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #ffd700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}